@media (max-width: 700px) {
    html {
        height: 100%;
        display: table;
    }

    body {
        min-height: 100%;
        display: table-cell;
        overflow-y:scroll;
    }
    .container label {
        width: 100%;
    }
    .footer label {
        width: auto;
    }
    .container input, .container select, .container textarea {
        width: 100%;
    }
    button#locate_me {
        float: right;
        margin-top: 2em;
    }
}

@media (max-width: 320px) {
    input, select {
        max-width: 254px;
    }
}
