/* General styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 1.05em;
    color: #222222;
    font-family: 'Cairo', sans-serif;
}

.header {
    margin-bottom: 2em;
}

.footer {
    margin-top: 2em;
}

.wrapper {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.container {
    width: 100%;
}

.centered {
    text-align: center;
}

.framed {
    border: 1px solid #777777;
}

input, textarea, select, button {
    border: 1px solid #777777;
    width: 30em;
    padding: 0.2rem;
    font-size: 0.8em;
    font-family: 'Cairo', sans-serif;
}

button {
    width: 15em;
}

textarea {
    width: 50em;
    height: 30em;
}

label {
    display: inline-flex;
    width: 25%;
}

hr {
    width: 100%;
    margin: 1em 0;
    border-bottom: 1px solid #777777;
}

#locator {
    width: 25em;
    font-size: 1.3em;
    text-align: center;
}

/* Logs */
#log_entry {
    display: flex;
    flex-wrap: wrap;
}

#log_entry div {
    width: 18%;
}
#log_entry div:nth-child(6n) {
    width: 5%;
}

#log div {
    width: 20%;
}

.short {
    width: 100%
}
button.short { width: 2em }

/* Tabs */
.tabs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tabs-header {
    background-color: #777777;
    display: flex;
    flex-wrap: wrap;
}

.tabs-header > li {
    color: #fff;
    cursor: pointer;
    flex-grow: 1;
    padding: .375rem;
    font-size: 1.125rem;
    width: 25%;
    text-align: center;
}

.tabs-header > li.active {
    background-color: #888;
}

.tabs {
    display: flex;
}

.tab {
    padding: 1rem;
    flex-direction: column;
}